﻿@{
    ViewBag.Title = "Страница адаптера";
    Layout = "~/Views/Default/Header.cshtml";
}

@Html.Partial("~/Views/Shared/AdapterPage.cshtml")

<br />

<div class="panel-group">
    @foreach (StudentAdapter.Models.Post post in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@post.Header</h3>
            </div>
            <div class="panel-body">
                @post.Description
            </div>
            @if (post.DocPath != "")
            {
                <div class="panel-footer">
                    @Html.ActionLink("Скачать документ", "GetDoc", new { filePath = post.DocPath })
                </div>
            }
        </div>
    }
</div>