﻿@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Добро пожаловать!</div>
        </div>

        <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="~/Default/AdaptersList">Список адаптеров</a></li>
            <li class="navbar-link"><a href="~/Default/Store">Магазин</a></li>
            <li class="navbar-link"><a href="~/Default/Contacts">Контакты</a></li>
            <li class="navbar-link"><a href="~/Default/Reference">Справка</a></li>
        </ul>

        <p class="navbar-text navbar-right"><a href="~/Default/Login" class="navbar-link">Войти</a></p>
    </div>
</nav>

@RenderBody()