﻿@model StudentAdapter.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Default/Header.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-offset-5 col-lg-2">
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        </p>
        <p>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control"})
        </p>
        <button class="btn btn-primary btn-block" type="submit">Войти</button>
    </div>
}
