﻿@{
    ViewBag.Title = "Страница студента";
    Layout = "~/Views/Adapter/Header.cshtml";
}

@Html.Partial("~/Views/Shared/AdapterPage.cshtml")

<br />

<div class="panel-group">
    @foreach (StudentAdapter.Models.Post post in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@post.Header</h3>
                @if (!post.LikeLists.Any(u => (u.User.UserName.Equals(User.Identity.Name))))
                {
                    @Html.ActionLink("Мне нравится", "Like", new { adapterId = Model.Id, postId = post.Id })
                }
            </div>
            <div class="panel-body">
                @post.Description
            </div>
            @if (post.DocPath != "")
            {
                <div class="panel-footer">
                    @Html.ActionLink("Скачать документ", "GetDoc", new { filePath = post.DocPath, fileName = post.Header })
                </div>
            }
        </div>
    }
</div>