﻿@model StudentAdapter.Models.Adapter

@{
    ViewBag.Title = "Редактировать страницу";
    Layout = "~/Views/Adapter/Header.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset class="col-lg-offset-5 col-lg-2">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Likes)
        @Html.HiddenFor(model => model.Points)
        @Html.HiddenFor(model => model.Money)
        @Html.HiddenFor(model => model.GroupId)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AvatarPath)
        @Html.HiddenFor(model => model.UserName)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        <input class="btn btn-primary btn-block" type="submit" value="Сохранить" />
    </fieldset>
}