﻿@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Добро пожаловать, Адаптер!</div>
        </div>

        <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="~/Adapter/MyPage">Моя страница</a></li>
            <li class="navbar-link"><a href="~/Adapter/AdaptersList">Список адаптеров</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Adapter/Store">Список товаров</a></li>
                    <li><a href="~/Adapter/OrdersList">Список заказов</a></li>
                </ul>
            </li>
            <li class="navbar-link"><a href="~/Adapter/Contacts">Контакты</a></li>
            <li class="navbar-link"><a href="~/Adapter/Reference">Справка</a></li>
        </ul>

        <p class="navbar-text navbar-right"><a href="~/Default/Logout" class="navbar-link">Выйти</a></p>
    </div>
</nav>

@RenderBody()