﻿@model StudentAdapter.Models.Adapter
@{
    ViewBag.Title = "Моя страница";
    Layout = "~/Views/Adapter/Header.cshtml";
}

<div class="container text-center">
    <div class="btn-group">
        <a class="btn btn-default" data-toggle="modal" data-target="#LoadImage" href="">Изменить фото</a>
        @Html.ActionLink("Редактировать", "EditMyPage", null, new { @class = "btn btn-default" })
    </div>
</div>
<br />

@Html.Partial("~/Views/Shared/AdapterPage.cshtml")

<p class="text-center">
    <a class="btn btn-default" data-toggle="modal" data-target="#Post" href="">Добавить запись</a>
</p>

<br />

<div class="panel-group">
    @foreach (StudentAdapter.Models.Post post in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@post.Header</h3>
            </div>
            <div class="panel-body">
                @post.Description
            </div>
            @if (post.DocPath != "")
            {
                <div class="panel-footer">
                    @Html.ActionLink("Скачать документ", "GetDoc", new { filePath = post.DocPath, fileName = post.Header })
                </div>
            }
        </div>
    }
</div>

<!--Модальное окно для создания записи-->

@using (Html.BeginForm("CreatePost", "Adapter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="Post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Введите информацию о записи</h4>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="editor-label">
                @Html.Label("Введите заголовок", new { @for = "header" })
            </div>
            <div class="editor-field">
                @Html.TextBox("header", null, new { @id = "header", @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.Label("Введите описание", new { @for = "header" })
            </div>
            <div class="editor-field">
                @Html.TextArea("description", null, new { @id = "description", @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.Label("Отчет", new { @for = "header" })
            </div>
            <div class="editor-field">
                <input type="file" accept=".pdf" name="doc" />
            </div>

            @Html.Hidden("adapterId", Request["adapterId"])
        </fieldset>
        </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Создать" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Модальное окно для редактирования аватарки-->

@using (Html.BeginForm("LoadImage", "Adapter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="LoadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Выберите новое изображение</h4>
                </div>
                <div class="modal-body input-group">
                    <input type="file" name="image">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>                        
                    @Html.Hidden("adapterId", Model.Id)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}
