﻿@model IEnumerable<StudentAdapter.Models.Good>
@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Adapter/Header.cshtml";
}

<div class="container text-center">
    <i class="fa fa-money fa-2x text-success"> @ViewBag.Money</i>
</div>
<br />

<div class="container">
    @foreach (StudentAdapter.Models.Good good in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@Url.Content(good.Picture)" alt="Good Image">
                <div class="caption text-center">
                    <h3>@good.Name: <i class="fa fa-money text-success"> @good.Price</i></h3>
                    <p>
                        @if (good.OnStock)
                        {
                            <i class="fa fa-shopping-bag text-info"> имеется на складе</i>
                        }
                        else
                        {
                            <i class="fa fa-truck text-danger"> отсутствует на складе</i>
                        }
                    </p>
                    <p>@good.Description</p>
                    <p>
                        @if (good.Price <= ViewBag.Money && good.OnStock)
                        {
                            @Html.ActionLink("Купить", "BuyGood", new { goodId = good.Id }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("Купить", "BuyGood", new { goodId = good.Id }, new { @class = "btn btn-default disabled" })
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>