﻿@using StudentAdapter.Models
@{
    ViewBag.Title = "Страница адаптера";
    Layout = "~/Views/Admin/Header.cshtml";
}

<div class="container text-center">
    <div class="btn-group">
        <a class="btn btn-default" data-toggle="modal" data-target="#Awards" href="">Выдать награду</a>
        <a class="btn btn-default" data-toggle="modal" data-target="#Points" href="">Выдать баллы</a>
    </div>
</div>
<br />

<!--Модальное окно для выдачи наград-->

@using (Html.BeginForm())
{
    <div class="modal fade" id="Awards" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Выберите тип награды</h4>
                </div>
                <div class="modal-body">
                    @foreach (var award in ViewBag.Awards)
                    {
                        <a href="@Url.Action("GiveAward", "Admin", new { adapterId = Request["adapterId"], awardId = award.Id })" title="@award.Name" class="thumbnail">
                            <img src="@Url.Content(@award.ImagePath)" />
                        </a>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Модальное окно для выдачи баллов-->

@using (Html.BeginForm("GivePoints", "Admin"))
{
    <div class="modal fade" id="Points" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Сколько баллов добавить?</h4>
                </div>
                <div class="modal-body input-group">
                    <input type="number" class="form-control" name="points">
                    @Html.Hidden("adapterId", Request["adapterId"])
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Добавить</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("~/Views/Shared/AdapterPage.cshtml")

<div class="panel-group">
    @foreach (StudentAdapter.Models.Post post in Model.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@post.Header</h3>
            </div>
            <div class="panel-body">
                @post.Description
            </div>
            @if (post.DocPath != "")
            {
                <div class="panel-footer">
                    @Html.ActionLink("Скачать документ", "GetDoc", new { filePath = post.DocPath, fileName = post.Header })
                </div>
            }
        </div>
    }
</div>