﻿@model StudentAdapter.Models.Good

@{
    ViewBag.Title = "Добавить товар";
    Layout = "~/Views/Admin/Header.cshtml";
}

@using (Html.BeginForm("CreateGood", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="col-lg-offset-5 col-lg-2">

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            <label for="file">Выберите изображение</label>
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OnStock)
        </div>
        <div class="editor-field">
            <div class="btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="onStock" value="true" checked="checked"> Да
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="onStock" value="false"> Нет
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.OnStock)
        </div>
        <br />
        <input type="submit" class="btn btn-primary btn-block" value="Создать" />
    </fieldset>
}
