﻿@model StudentAdapter.Models.Group

@{
    ViewBag.Title = "Добавить группу";
    Layout = "~/Views/Admin/Header.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="col-lg-offset-5 col-lg-2">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.GroupName)
        </div>

        <br />
        <input class="btn btn-primary btn-block" type="submit" value="Создать" />
    </fieldset>
}

