﻿@model StudentAdapter.Models.Reference

@{
    ViewBag.Title = "Редактировать справку";
    Layout = "~/Views/Admin/Header.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container text-center">
        <h3>Введите новую справку</h3>
        <input class="btn btn-primary" type="submit" value="Сохранить" />
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, 20, 0, new { @class = "form-control" })
        </div>
    </div>
}

