﻿@model StudentAdapter.Models.Admin

@{
    ViewBag.Title = "Редактировать страницу";
    Layout = "~/Views/Admin/Header.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset class="col-lg-offset-5 col-lg-2">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.RoleId)
        @Html.HiddenFor(model => model.AvatarPath)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        <input class="btn btn-primary btn-block" type="submit" value="Сохранить" />
        <br />
        <br />
        @Html.ActionLink("Удалить страницу", "RemoveAdmin", "Admin", new { @class = "btn btn-danger btn-block", onclick = "return confirm('Вы действительно хотите удалить страницу?')" })
    </fieldset>
}
