﻿@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Добро пожаловать, Администратор!</div>
        </div>

        <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="~/Admin/MyPage">Моя страница</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователи <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Admin/UserManager">Менеджер пользователей</a></li>
                    <li><a href="~/Admin/AdaptersList">Список адаптеров</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Admin/Store">Список товаров</a></li>
                    <li><a href="~/Admin/OrdersList">Список заказов</a></li>
                </ul>
            </li>
            <li class="navbar-link"><a href="~/Admin/Contacts">Контакты</a></li>
            <li class="navbar-link"><a href="~/Admin/Reference">Справка</a></li>
        </ul>

        <p class="navbar-text navbar-right"><a href="~/Default/Logout" class="navbar-link">Выйти</a></p>
    </div>
</nav>

@RenderBody()