﻿@model StudentAdapter.Models.Admin

@{
    ViewBag.Title = "Моя страница";
    Layout = "~/Views/Admin/Header.cshtml";
}

<div class="container text-center">
    <div class="btn-group">
        <a class="btn btn-default" data-toggle="modal" data-target="#LoadImage" href="">Изменить фото</a>
        @Html.ActionLink("Редактировать", "EditMyPage", null, new { @class = "btn btn-default" })
    </div>
</div>
<br />
<div class="container col-lg-offset-2 col-lg-8">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-5 text-center">
                    <img src="@Url.Content(Model.AvatarPath)" alt="Здесь должно быть фото" class="img-thumbnail">
                </td>
                <td class="col-lg-7" valign="middle">
                    <dl class="dl-horizontal">
                        <dt>Фамилия:</dt>
                        <dd>@Model.Surname</dd>
                        <dt>Имя:</dt>
                        <dd>@Model.Name</dd>
                        <dt>e-mail:</dt>
                        <dd>@Model.Email</dd>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--Модальное окно для редактирования аватарки-->

@using (Html.BeginForm("LoadImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="LoadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Выберите новое изображение</h4>
                </div>
                <div class="modal-body input-group">
                    <input type="file" class="form-control" name="image">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>                    
                    @Html.Hidden("adminId", Model.Id)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}
