﻿@model IEnumerable<StudentAdapter.Models.OrdersList>

@{
    ViewBag.Title = "Список заказов";
    Layout = "~/Views/Admin/Header.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Дата покупки</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Покупка</th>
            <th>Имеется ли на складе</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Date.ToString("dd.MM.yyyy")</td>
                <td>@order.Adapter.Name</td>
                <td>@order.Adapter.Surname</td>
                <td>@order.Good.Name</td>
                @if (@order.Good.OnStock)
                {
                    <td class="text-success">Есть на складе</td>
                }
                else
                {
                    <td class="text-danger">Нет на складе</td>
                }
                <td>@Html.ActionLink("Выдано", "GoodGiven", new { ordersListId = order.Id })</td>
                <td>@Html.ActionLink("Отмена", "Cancel", new { ordersListId = order.Id })</td>
            </tr>
        }
    </tbody>
</table>

