﻿@{
    ViewBag.Title = "Ссылка";
    Layout = "~/Views/Admin/Header.cshtml";
}
<div class="container text-center">
    @Html.ActionLink("Редактировать", "EditReference", null, new { @class="btn btn-default" })
</div>
<br />
@Html.Partial("~/Views/Shared/Reference.cshtml")
