﻿@model IEnumerable<StudentAdapter.Models.Good>

@{
    ViewBag.Title = "Список товаров";
    Layout = "~/Views/Admin/Header.cshtml";
}
<div class="container text-center">
    @Html.ActionLink("Добавить товар", "CreateGood", "Admin", new { @class = "btn btn-default" })
</div>
<br />
<div class="container">
    @foreach (StudentAdapter.Models.Good good in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@Url.Content(good.Picture)" alt="Good Image">
                <div class="caption text-center">
                    <h3>@good.Name: <i class="fa fa-money text-success"> @good.Price</i></h3>
                    <p>
                        @if (good.OnStock)
                        {
                            <i class="fa fa-shopping-bag text-info"> имеется на складе</i>
                        }
                        else
                        {
                            <i class="fa fa-truck text-danger"> отсутствует на складе</i>
                        }
                    </p>
                    <p>@good.Description</p>
                    <p class="btn-group">
                        @if (good.OnStock)
                        {
                            @Html.ActionLink("Закончились", "NotInStock", new { goodId = good.Id }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("Появились", "InStock", new { goodId = good.Id }, new { @class = "btn btn-default" })
                        }
                        @Html.ActionLink("Удалить", "RemoveGood", new { goodId = good.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Вы действительно хотите удалить товар?')" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>