﻿@model IEnumerable<StudentAdapter.Models.Group>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Admin/Header.cshtml";
}

<div class="container text-center">
    <div class="btn-group">
        @Html.ActionLink("Создать группу", "CreateGroup", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Создать Администратора", "CreateAdmin", null, new { @class = "btn btn-info" })
    </div>
</div>

@foreach(var group in Model)
{
    <p>
        @GroupInfo(group)
    </p>
}

@helper GroupInfo(StudentAdapter.Models.Group group)
{
    <div class="panel-group" id="groups" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@group.GroupName">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#groups" href="#collapse_@group.GroupName" aria-expanded="true" aria-controls="collapse_@group.GroupName">
                        @group.GroupName <span class="caret"></span>
                    </a>
                </h4>
                (@Html.ActionLink("Редактировать", "EditGroup", new { groupId = group.Id })
                /@Html.ActionLink("Удалить", "RemoveGroup", new { groupId = group.Id }, new { onclick = "return confirm('Вы действительно хотите удалить группу?')" }))
            </div>
            <div id="collapse_@group.GroupName" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@group.GroupName">
                <div class="panel-body">
                    <dl>
                        <dt>Адаптеры:</dt>
                        @foreach (var adapter in group.Adapters)
                        {
                            <dd>@adapter.Name @adapter.Surname @Html.ActionLink("Удалить", "RemoveUser", new { userId = adapter.Id }, new { onclick = "return confirm('Вы действительно хотите удалить Адаптера?')" })</dd>
                        }
                        @Html.ActionLink("Добавить адаптера", "CreateAdapter", new { groupId = group.Id })
                        <dt>Студенты:</dt>
                        @foreach (var student in group.Students)
                        {
                            <dd>@student.Name @student.Surname @Html.ActionLink("Удалить", "RemoveUser", new { userId = student.Id }, new { onclick = "return confirm('Вы действительно хотите удалить студента?')" })</dd>
                        }
                        @Html.ActionLink("Добавить студента", "CreateStudent", new { groupId = group.Id })
                    </dl>
                </div>
            </div>
        </div>
    </div>
}