﻿@model StudentAdapter.Models.Adapter

@{
    
}
<div class="row">
    <table class="col-lg-offset-2 col-lg-8">
        <tbody>
            <tr>
                <td class="col-lg-5 text-center">
                    <img src="@Url.Content(Model.AvatarPath)" alt="Avatar" class="img-thumbnail">
                </td>
                <td class="col-lg-7" valign="middle">
                    <dl class="dl-horizontal">
                        <dt>Фамилия:</dt>
                        <dd>@Model.Surname</dd>
                        <dt>Имя:</dt>
                        <dd>@Model.Name</dd>
                    </dl>
                    <ul class="list-inline text-center">
                        <li><i class="fa fa-star fa-2x text-primary"> @Model.Points</i></li>
                        <li><i class="fa fa-money fa-2x text-success"> @Model.Money</i></li>
                        <li><i class="fa fa-heart fa-2x text-danger"> @Model.Likes</i></li>
                    </ul>
                    <p>
                        Награды:
                        @foreach (StudentAdapter.Models.AwardList awardList in Model.AwardLists)
                        {
                            <div class="col-lg-2 thumbnail">
                                <img src="@Url.Content(awardList.Award.ImagePath)" />
                            </div>
                        }
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>