﻿<table class="table table-hover">
    <thead>
        <tr>
            <td align="center"><strong>ФИО</strong></td>
            <td align="center"><strong>Количество баллов</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentAdapter.Models.Adapter adapter in ViewBag.AdaptersList)
        {
            <tr>
                <td align="center" class="col-lg-3">@Html.ActionLink(adapter.Name + " " + adapter.Surname, "AdapterPage", new { adapterId = adapter.Id })</td>
                <td align="center" class="col-lg-9">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@adapter.Part" aria-valuemin="0" aria-valuemax="100" style="width: @adapter.Part%;">
                            @adapter.Points
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
