﻿@model IEnumerable<StudentAdapter.Models.Admin>

<div class="container col-lg-offset-3 col-lg-6">
    <table>
        <tbody>
            @foreach (StudentAdapter.Models.Admin admin in Model)
            {
                <tr class="row">
                    <td class="col-lg-6">
                        <img src="@Url.Content(admin.AvatarPath)" alt="Avatar" class="img-thumbnail">
                    </td>
                    <td class="col-lg-6" valign="middle">
                        <dl class="dl-horizontal">
                            <dt>Фамилия:</dt>
                            <dd>@admin.Surname</dd>
                            <dt>Имя:</dt>
                            <dd>@admin.Name</dd>
                            <dt>e-mail:</dt>
                            <dd>@admin.Email</dd>
                        </dl>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
