﻿@model IEnumerable<StudentAdapter.Models.Good>

<div class="container">
    @foreach (StudentAdapter.Models.Good good in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@Url.Content(good.Picture)" alt="Good Image">
                <div class="caption text-center">
                    <h3>@good.Name: <i class="fa fa-money text-success"> @good.Price</i></h3>
                    <p>@good.Description</p>
                </div>
            </div>
        </div>
    }
</div>