﻿@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Добро пожаловать, Студент!</div>
        </div>

        <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="~/Student/MyPage">Моя страница</a></li>
            <li class="navbar-link"><a href="~/Student/AdaptersList">Список адаптеров</a></li>
            <li class="navbar-link"><a href="~/Student/Store">Магазин</a></li>
            <li class="navbar-link"><a href="~/Student/Contacts">Контакты</a></li>
            <li class="navbar-link"><a href="~/Student/Reference">Справка</a></li>
        </ul>

        <p class="navbar-text navbar-right"><a href="~/Default/Logout" class="navbar-link">Выйти</a></p>
    </div>
</nav>

@RenderBody()