﻿@model StudentAdapter.Models.Student

@{
    ViewBag.Title = "Моя страница";
    Layout = "~/Views/Student/Header.cshtml";
}

<div class="container text-center">
    <div class="btn-group">
        @Html.ActionLink("Редактировать", "EditMyPage", null, new { @class = "btn btn-default" })
    </div>
</div>
<br />
<div class="container">
        <dl class="dl-horizontal col-lg-offset-4">
            <dt>Фамилия:</dt>
            <dd>@Model.Surname</dd>
            <dt>Имя:</dt>
            <dd>@Model.Name</dd>
            <dt>Группа:</dt>
            <dd>@Model.Group.GroupName</dd>
        </dl>
</div>